doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title 管理员页面
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
  body
    div(style='text-align: center;padding: 40px')
      h1.top-h1 Our happiness can be managed ...
    .shadow
      .config-div.panel.panel-default
        h1.config-h1 *LoveRecord Config
        .panel.panel-default(style='border:none')
          .panel-heading.config-title(style='background-color:#fff')
            h4.panel-title
              a(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
                | Click me to show current Says.
          #collapseTwo.panel-collapse.collapse
            #says.panel-body
        h2.config-h2 Add Item
        form(method='post', action='/eternity/admin/love-record/upload', enctype='multipart/form-data')
          input#say.form-control.block-inline(type='text', name='say', placeholder='please input your sentence')
          input.form-control.block-inline(type='file', name='inputFile', value='upload img')
          input.btn.btn-success.block-inline(type='submit', value='upload')
    script(type='text/javascript', src='/javascripts/jquery-1.12.2.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script(type='text/javascript').
      $.get('/eternity/love-record/says', function (data) {
      data.map(function (say) {
      if (say != '')
      $('#says').append('<p class="say">' + say + '</p>');
      });
      });
