doctype html
html(lang='zh')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Love between Us
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/love-record/main.css')
  body
    audio(src='/media/hongdou.mp3', autoplay='true', loop='loop')
    .modal.show(style='top:24%;')
      .modal-dialog(style='opacity: .9')
        .modal-content(style='opacity:.85')
          .modal-header
            h1.text-center(style="color: #A94442;font-family: 'JournalRegular', Arial, sans-serif;font-size: 7rem;")
              | the time
              | we together
            p.text-center.small-title Johnny & Dawn
            p.text-center.small-title LOVING ON THE WAY
          .modal-body.text-center(style="line-height: 1.5rem;font-family: 'JournalRegular', Arial, sans-serif;font-size: 3rem;")
            p
              span#day.time-font
              span(style='color:#A94442') / 
              span#hour.time-font
              span(style='color:#A94442') / 
              span#minute.time-font
              span(style='color:#A94442') / 
              span#second.time-font
            p
              | days/hours/min/sec
            p#say.text-center(style='color:#A94442;font-size: 17px')
    script(type='text/javascript', src='/javascripts/jquery-1.12.2.min.js')
    script(type='text/javascript', src='/javascripts/bootstrap.min.js')
    script(type='text/javascript', src='/javascripts/count-time.js')
    script(type='text/javascript', src='/javascripts/jquery.backstretch.min.js')
    script.
      $(function () {
      //设置起始日期
      countTime('2016/01/30 23:45', 'day', 'hour', 'minute', 'second');
      var days = $('#day').text();
      // 设置标题
      if (parseInt(days / 365) != 0) {
      $(document).attr("title", "在一起" + parseInt(days / 365) + "年,感谢相伴。");
      } else if (parseInt(days / 30) != 0) {
      $(document).attr("title", "在一起" + parseInt(days / 30) + "个月,感谢相伴。");
      } else {
      $(document).attr("title", "在一起" + days + "天,感谢相伴。");
      }
      $.get('/eternity/love-record/imgs', function (data) {
      $.backstretch(data, {
      fade: 2000
      });
      });
      //异步获取所有语句
      $.get('/eternity/love-record/says', function (data) {
      var index = 0;
      $('#say').text(data[(index++) % data.length]);
      setInterval(function () {
      $.backstretch("next");
      $('#say').hide();
      $('#say').text(data[(index++) % data.length]);
      $('#say').fadeToggle();
      $('#carousel').carousel('next');
      }, 6000);
      });
      });
